modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 3001

[[ports]]
localPort = 8084
externalPort = 4200

[[ports]]
localPort = 8085
externalPort = 8008

[[ports]]
localPort = 8086
externalPort = 8081

[[ports]]
localPort = 8087
externalPort = 5173

[[ports]]
localPort = 8088
externalPort = 6000

[[ports]]
localPort = 8089
externalPort = 6800

[[ports]]
localPort = 8090
externalPort = 8000

[[ports]]
localPort = 8091
externalPort = 5000

[[ports]]
localPort = 8092
externalPort = 8099

[[ports]]
localPort = 8093
externalPort = 9000

[[ports]]
localPort = 25671
externalPort = 3000

[[ports]]
localPort = 25672
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_iEMJeiyqjrcBmTDBalrhZvaxiEC"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_WSDfkTfVGrEkQNAVAfWDnyujbSy"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_jnCqdlxFCpViUbTIHiecXKOFhpB"
REVENUECAT_PROJECT_ID = "proj61a8ae5b"
REVENUECAT_TEST_STORE_APP_ID = "app312d2e5bbd"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app3aba3fa644"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app9b9f3b5e79"
JWT_SECRET = "8dd534e5b56c64a54a4721eadb1d9191ae7d70470c3214edb72ba47a898c47b0f9e35b6d872d98af971d39f28f25e92a321772d8c9c563ccf518d678810f313a"
FIREBASE_WEB_API_KEY = "AIzaSyCkMeH84yToPSydWsQnOn_G-V5JkL_ryxk"
